:root {
    --Very-Dark-Blue : hsl(230, 17%, 14%);
    --Very-Dark-Blue-top : hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue : hsl(228, 28%, 20%);
    --Desaturated-Blue : hsl(228, 34%, 66%);
    --White-text: hsl(0, 0%, 100%);
    --grayish-text: rgba(226, 225, 225, 0.712);
}

body {
    background-color: var(--Very-Dark-Blue);
    color: var(--White-text);
    font-family:'Inter', sans-serif;
    box-sizing: border-box;
}
.header {
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    /* color: rgba(0, 0, 0, 0.661); */
}

.header h2 {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.87);
    color: var(--White-text);
    font-weight: 750;
    margin: 0;
    padding: 0;
}

.header p{
    color: rgba(226, 225, 225, 0.712);
    color: var(--grayish-text);
    font-size: 0.65rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    letter-spacing: 1.3px;
}

.header div:nth-child(2){
    display: flex;
    gap: 10px;
    font-size: 0.6rem;
    /* color: rgba(255, 255, 255, 0.442); */
    color: var(--grayish-text);
    align-items: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    gap: 20px;
    margin: 5px auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1rem;
    gap: 8px;
    width: 10rem;
    background-color: var(--Dark-Desaturated-Blue);
    border-radius: 8px;
    line-height: 0.5;
}

.card div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.card div p{
    /* color: rgba(255, 255, 255, 0.419); */
    color: var(--grayish-text);
    /* color: var(--White-text); */
    text-transform: none;
    font-size: 0.65rem;
}
.followers {
    font-size: 2.2rem;
    line-height: 1.2;
    margin: 0;
}

.card p{
    margin: 0;
    padding: 0;
    /* color: rgba(255, 255, 255, 0.239); */
    /* color: var(--White-text); */
    color: var(--grayish-text);
    text-transform: uppercase;
    font-size: 0.5rem;
}
.card h1{
    padding: 0;
    margin: 0;
}
.daily {
    color: hsl(163, 72%, 41%);
    margin-top: 10px;
    font-size: 0.8rem;
}
.icon {
    height: 13px;
}

.main .card:nth-child(1) {
    border-top: 3px solid hsl(208, 92%, 53%);
}
.main .card:nth-child(2) {
    border-top: 3px solid hsl(203, 89%, 53%);
}
.main .card:nth-child(3) {
    border-top: 3px solid RGBA(246, 195, 191, 0.9);
}
.main .card:nth-child(4) {
    border-top: 3px solid hsl(348, 97%, 39%);
}

.card_ {
    width: 14rem;
    height: 3rem;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--Dark-Desaturated-Blue);
}

.stat_cards {
    display: flex;
    width: 80%;
    gap: 15px;
}

.overview {
    height: 50px;
    align-self: flex-start;
    justify-content: center;
    padding-top: 20px;
    margin-left: 16rem;   
    text-transform: capitalize; 
}

.card_ div{
    display: flex;
    justify-content: space-between;
    /* color: rgba(255, 255, 255, 0.353); */
    /* color: var(--White-text); */
    color: var(--grayish-text);
    font-size: 0.7rem;
    width: 100%;
}

.card_ div span {
    font-size: 1.8rem;
    color: var(--White-text);
}
.sub {
    letter-spacing: 4px;
}
.pic {
    height: 4px;
    align-self: flex-end;
    padding: 15px 5px 20px 5px;
}

.card_ div p{
    font-size: .7rem;
}

.card_ div:nth-child(1) img{
    height: 14px;
}

#btn {
    width: 2.6rem;
    border-radius: 18px;
    background-image: linear-gradient(
        hsl(210, 78%, 56%),
         hsl(146, 68%, 55%)
         );
}
#btn button:hover {
    cursor: pointer;
}

#btn button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--Very-Dark-Blue);

    margin: 2px;
    
}

.percent {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .card_ {
        width: 85%;
    }
    .card {
        width: 85%;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
    }
    .header {
        flex-direction: column;
        width: 85%;
        align-items: flex-start;
        margin: auto;
        padding: 1rem;
    }
    .header h2{
        padding-bottom: 2px;
    }
    .h {
        border-bottom: 0.1px solid rgba(211, 211, 211, 0.2);
        padding-bottom: 13px;
        width: 100%;
    }
    .Dark {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px;
        align-items: center;
    }
    .overview {
        justify-content: flex-start;
        width: 85%;
        margin: auto;
        padding: 1rem;
    }
    .stat_cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
